name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions: {}

jobs:
  build:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: 'npm ci'
      - name: Run tests
        run: 'npm test'
